rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Fonction utilitaire pour vérifier l'appartenance d'un document
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId} {
      // Autorise l'accès complet aux réglages de l'utilisateur
      match /settings/{document=**} {
        allow read, write: if isOwner(userId);
      }

      // Autorise l'accès aux mesures de température
      match /temperatureMeasurements/{document=**} {
        allow read, write: if isOwner(userId);
      }

      // Autorise l'accès aux logs d'alertes
      match /alertEvents/{document=**} {
        allow read, write: if isOwner(userId);
      }
    }
  }
}